h1 {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

body {
    background-color:  white;
    margin:  5%;
}

#message{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: blue;    
}

#slideshow{
    height: 100px;
    width: 150px;
    position: relative;
    overflow: hidden;
}