body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #ccc;
    margin: 1em 10%;
}

h1 {
    color: #333;
    background-color: transparent;
}

a {
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

ol {
    padding: 0;
}

li {
    float:left;
    padding: 1em;
    list-style: none;
}

#gallery {
    list-style: none;
}

#gallery li {
    display: inline
}

#gallery li a img {
    border: 0;
}