/*
布局设计
*/
section,header,article,nav {
    display: block;
}
* {
    padding: 0;
    margin: 0;        
}
body {
    margin: auto;
    background-image: url(../images/Vincent3.jpg);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80em;
    /*display:block;*/
    /*margin:0 auto;*/
}
header {
    background-image: url(../images/Vincent1.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}
#index header {
   background-image: url(../images/spring-1.jpg);  
       background-position: top left;
    background-repeat: repeat-x;
    background-size: cover;
}
#about header {
   background-image: url(../images/spring-2.jpg);
       background-position: top left;
    background-size: cover;
}
#photos header {
   background-image: url(../images/spring-3.jpg);
   background-position: top left;
   background-size: cover;
}
#live header {
   background-image: url(../images/spring-4.jpg);
       background-position: top left;
    background-size: cover;
}
#contact header {
   background-image: url(../images/spring-5.jpg);
       background-position: top left;
   background-size: cover;
}
header img {
    display:block;
    margin:0 auto;
}
header nav{
    background-image: url();
    background-repeat: repeat-x;
    background-position: bottom left;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;  
    border-top-width: 0;
    padding-left: 10%;
}
header nav ul {
    width: 100%;
    overflow: hidden;
    border-left-width: .1em;
    border-left-style: solid;
}
header nav li{
    display: inline;
}
header nav li a {
    display: block;
    float: left;
    padding: .5em 2em;
    border-right: .1em solid;
}
article {
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
}
article div#slideshow{
    height: 240px;
    width: 202px;
    position: relative;
    overflow: hidden;
}
article #frame {
    position: absolute;
    left: 0px;
    top: 0px; 
    z-index: 99;
    opacity: 0.5;
}
article #image-spring {
    left: 0px;
    top: 0px; 
}
article #image-spring {
    left: 0px;
    top: 0px; 
}
article #image{
    height: 100%;
    width: 100%;
}
article img {
    border-width: .1em;
    border-style: solid;
    outline-width: .1em;
    outline-style: solid;
}
#imagegallery li{
    display: inline;
}

article table {
    border: 1;
}

td {
    padding: .5em 3em;
}